<!DOCTYPE html>
{% extends 'Ecommerce/base.html' %}
{% block content %}

    <div class="container-fluid row">

        <form method="post" action="{% url 'register' %}" class="container rounded border col-sm-10 col-lg-4" id="form_container">
            <h2>New User</h2><br>
            {% csrf_token %}

            <div class="form-group">{{ register_form.username}}</div>
            <div class="form-group">{{ register_form.password1}}</div>
            <div class="form-group">{{ register_form.password2}}</div>
            <div class="form-group">{{ register_form.email}}</div>

            {{ register_form.errors }}

            <input type="submit" class="btn btn-primary" id="btn_new" name="Create user" value="Register">

            <div class="container"><p>Already have an account? <a href ="{% url 'login_view' %}">Sign in</a></p></div>
        </form>


        <form method="POST" action="{% url 'login_view' %}" class="container rounded border col-sm-10 col-lg-4" id="form_container">
            <h2>Login</h2><br>
            {% csrf_token %}

            <div class="form-group">{{ login_form.username }}</div>
            <div class="form-group">{{ login_form.password }}</div>

             {{ login_form.errors }}

            <div><input type="submit" class="btn btn-primary" id="btn_new" name="login" value="Login"></div>

            <div class="container"><p>Don't have an account yet?<a href ="{% url 'register' %}"> Sign up</a></p></div>
        </form>

    </div>

{% endblock %}
